[submodule "Tilia/vendor/spdlog"]
	path = Tilia/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Tilia/vendor/GLFW"]
	path = Tilia/vendor/GLFW
	url = https://github.com/TheCherno/glfw
